<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('admin_login') }}">Admin Login</a></li>
            <li><a href="{{ url_for('student_login') }}">Student Login</a></li>
            <li><a href="{{ url_for('parent_login') }}">Parent Login</a></li>
            <li><a href="{{ url_for('parent_login') }}">Teacher Login</a></li>
        </ul>
    </nav>
    <h1>Student Login</h1>
    <form method="post">
        <label for="usn">USN:</label>
        <input type="text" id="usn" name="usn" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
